body {
    background:#999;
    font-family: arial;
}


h1, h2 {
    color:#666;
}

p {
    color:aqua;
    background:#666;
    padding: 10px 10px;
}

a {
    color:green
}

.secondary {
    color:brown;
    background:none;
}